[submodule "submodules/micropython"]
	path = submodules/micropython
	url = git@github.com:micropython/micropython.git
	ignore = dirty
[submodule "libostentus"]
	path = libostentus
	url = git@github.com:golioth/libostentus.git
[submodule "submodules/pimoroni-pico"]
	path = submodules/pimoroni-pico
	url = git@github.com:szczys/pimoroni-pico.git
	ignore = dirty
[submodule "submodules/gc9a01_mpy"]
	path = submodules/gc9a01_mpy
	url = https://github.com/russhughes/gc9a01_mpy.git
